<% provide(:title, 'Entries') %>
<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Article</th>
      <!-- <th>Image</th> -->
      <!-- <th>Sentiment</th> -->
      <th>Sentiment score</th>
      <th>Permalink</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% entries.each do |entry| %>
      <tr>
        <td>
          <% if entry and entry.image and !entry.image.include? "flickr"%>
              <img src="<%= entry.image %>">
          <% elsif entry and entry.image %>
              <img src="<%= entry.image %>" style="width: 151px ;height: 151px ;" >
              <br>
              <span class="tiny">flickr</span>
          <% end %>
	    </td>
        <td><%= link_to entry.title, analysis_entry_path(entry) %> <br>
			<%= link_to entry.feed.title, entry.feed %> <br>
			<%= entry.created_at %></td>
        <!-- <td><%= entry.sentiment %></td> -->
        <td>
			<% if entry.sentiment_score and entry.sentiment_score >= 0 %>
			     <% $colorTemp = "#66CD00" %>
			   <% else %>
			     <% $colorTemp = "#FF0000" %>
			   <% end %>
			<span style="color:<%= $colorTemp %>;"><%= entry.sentiment_score %></span></td>
        <td><%= link_to "Permalink", entry.url %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

