<% provide(:title, @entry.title) %>


<div>
  <h4>
    <% if @entry and @entry.title %>
       <%= @entry.title %>
     <% end %>
    </h4>
    <% if @entry and @entry.url %>
       <%= link_to "PermalinkURL", @entry.url %>
     <% end %>
	<br>
	<% if @entry.sentiment_score and @entry.sentiment_score >= 0 %>
	     <% $colorTemp = "#66CD00" %>
	   <% else %>
	     <% $colorTemp = "#FF0000" %>
	   <% end %>
	Sentiment: <span style="color:<%= $colorTemp %>;"><%= @entry.sentiment_score %></span>
	<br>
    <% if @entry and @entry.created_at %>
       <%= @entry.created_at %>
     <% end %>
  <p>
	  <% if @entry and @entry.image %>
	      <img src="<%= @entry.image %>" align="left" style="margin-right:10px;">
	    <% end %>
      <%= simple_format @entry.extracted_text %>
  </p>
</div>
<table>
  <thead>
  <tr>
    <th>Concept</th>
    <th>Relevance</th>
  </tr>
  </thead>
  <tbody>
  <% @entry.concepts.each do |concept| %>
      <tr>
		<td><%= link_to concept.text , entries_from_concepts_entries_path(:concept => concept.text) %></td>
      	<td><%= concept.relevance.to_f %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>


<!--<table>-->
  <!--<thead>-->
  <!--<tr>-->
    <!--<th>Keyword</th>-->
    <!--<th>Relevance</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<%# @entry.keywords.each do |k| %>-->
      <!--<tr>-->
        <!--<td><%#= k.text %></td>-->
        <!--<td><%#= k.relevance.to_f %></td>-->
      <!--</tr>-->
  <!--<%# end %>-->
  <!--</tbody>-->
<!--</table>-->





