
<div>
  <h5>Extracted text</h5>
  <p>
      <%= @entry.extracted_text %>
  </p>
</div>
<table>
  <thead>
  <tr>
    <th>Concept</th>
    <th>Relevance</th>
  </tr>
  </thead>
  <tbody>
  <% @entry.concepts.each do |concept| %>
      <tr>
        <td><%= concept.text %></td>
        <td><%= concept.relevance.to_f %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>


<table>
  <thead>
  <tr>
    <th>Keyword</th>
    <th>Relevance</th>
  </tr>
  </thead>
  <tbody>
  <% @entry.keywords.each do |k| %>
      <tr>
        <td><%= k.text %></td>
        <td><%= k.relevance.to_f %></td>
      </tr>
  <% end %>
  </tbody>
</table>





