<% provide(:title, @entry.title) %>

<div class="card">
  <% if @entry and @entry.image %>
      <img src="<%= @entry.image %>" >
    <% end %>
<div class="card-divider">
    <% if @entry and @entry.title %>
       <%= @entry.title %>
     <% end %>
</div>
<div class="card-section">
<h4><% if @entry and @entry.title %>
       <%= @entry.title %>
     <% end %></h4>
<p><%= simple_format @entry.extracted_text %></p>
</div>
</div>


<div>
  <h4>
    <% if @entry and @entry.title %>
       <%= @entry.title %>
     <% end %>
    </h4>
  <p>
	  <% if @entry and @entry.image %>
	      <img src="<%= @entry.image %>" align="left" style="margin-right:10px;">
	    <% end %>
      <%= simple_format @entry.extracted_text %>
  </p>
</div>
<table>
  <thead>
  <tr>
    <th>Concept</th>
    <th>Relevance</th>
  </tr>
  </thead>
  <tbody>
  <% @entry.concepts.each do |concept| %>
      <tr>
		<td><%= link_to concept.text , entries_from_concepts_entries_path(:concept => concept.text) %></td>
      	<td><%= concept.relevance.to_f %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>


<!--<table>-->
  <!--<thead>-->
  <!--<tr>-->
    <!--<th>Keyword</th>-->
    <!--<th>Relevance</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<%# @entry.keywords.each do |k| %>-->
      <!--<tr>-->
        <!--<td><%#= k.text %></td>-->
        <!--<td><%#= k.relevance.to_f %></td>-->
      <!--</tr>-->
  <!--<%# end %>-->
  <!--</tbody>-->
<!--</table>-->





