<p id="notice"><%= notice %></p>


<!--
<h4 class="text-center">Filters</h4>

<div class="row">
  <div class="columns large-4 text-center">
      <%= label "concepts" ,"concepts" %>
      <%= select_tag 'concepts' , options_for_select( concepts_hash , @filter) , :include_blank => true %>

    <%= label "Text" , "text" %>
    <%= text_field_tag("text") %>

    <%= label "sentiment score" , "sentiment score" %>
    <span class="prefix"> greater than </span><%= text_field_tag("sentiment") %>

    <div class="text-center">
    <%= button_tag "filter" , :onclick => "filter_concepts()" , :class => "tiny  radius success"%>
    </div>

  </div>
</div>

<hr>
-->
<%= link_to 'List of Feeds', feeds_path %> | <%= link_to 'New Feed', new_feed_path %>

<div id="entries">
<%= render :partial => 'index', :locals => {:entries => @entries} %>
</div>

<br>


<script type="text/javascript">
  function filter_concepts()
  {
      $.ajax({
          url: '<%= filter_by_concepts_entries_path %>',
          type: 'GET',
          data: {concept : $('#concepts').val() , text: $('#text').val() , sentiment: $('#sentiment').val()}
      });
  }

</script>
