
<% if @notice %>
    <div data-alert class="alert-box success radius">
      Successfully updated!
      <a href="#" class="close">&times;</a>
    </div>
<% end  %>
<hr>
<h4 class="text-center">Notifications</h4>
<div class="row">
  <div class="large-4 columns text-center">
    <%= form_for @notification , :url => notification_path , :method => "put" do |f| %>

        <%= f.hidden_field :id , :value => @notification.id %>
        <div class="field">
          <%= f.label :email %>
          <br>
          <%= f.text_field :email %>
        </div>

        <div class="field">
          <%= f.label :frequency %>
          <br>
          <%= f.select :frequency , {"5 minutes" => 5 , "1 hour" => 60 , "1 day" => 1440 } , :prompt => "select one" %>
        </div>

        <div class="actions">
          <%= f.submit :class => "success tiny radius button" %>
        </div>

    <% end %>
  </div>

</div>